.success-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.loader-div {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination-btn {
  background: none;
  border: none;
  outline: none;
  margin-top: 6px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}